<div class="alt-100 bg-negro" id="home">
    <app-nav></app-nav>
    <div class="container">
        <br>
        <div class="row h-100">
            <div class="col-md-6 d-flex align-items-center">
                <div class="main mt-2 text-white">
                    <h1 class="fs-1 title">Hola,</h1>
                    <h2 class="fs-1 title fw-bold">Soy <span class="text-danger">Carlos Ordaz</span></h2>
                    <h2 class="fs-1 title fw-light">Estudiante de Ingeniería de Sistemas de Información</h2>
                    <a mat-raised-button color="accent" href="../../../assets/UPC-ORDAZ-HOYOS-CARLOS-JESUS.pdf">Descargar CV</a>
                </div>
            </div>
            <div class="col-md-6">
                <img src="../../../assets/hacker.png" alt="foto" class="img-fluid perfil p-5">
            </div>
        </div>
    </div>
</div>
<div class="alt-100 title" id="estudios">
    <div class="container">
        <br>
        <br>
        <br>
        <h1 class="text-center fs-3 fw-bolder title">MIS <span class="text-danger">ESTUDIOS</span></h1>
        <div class="espacio">
            <br>
            <br>
        </div>
        <div class="row">
            <div class="col-md-6 py-2">
                <div class="shadow-sm bg-white p-3">
                    <img src="../../../assets/estudios.jpg" alt="estudios" class="img-fluid">
                </div>
            </div>
            <div class="col-md-6 py-2">
                <div class="shadow-sm bg-white">
                    <br>
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <td>Carrera: </td>
                                <td>Ingeniería de Sistemas de Información (En curso)</td>
                            </tr>
                            <tr>
                                <td>Centro de estudios: </td>
                                <td>Universidad Peruana de Ciencias Aplicadas </td>
                            </tr>
                            <tr>
                                <td>Ciclo: </td>
                                <td>5to</td>
                            </tr>
                            <tr>
                                <td>Cursos: </td>
                                <td>
                                    <ul class="lista">
                                        <li> EMPREND DE NEG SOST FORMU</li>
                                        <li>REDES Y COMUNIC DE DATOS</li>
                                        <li> TALLER DE EXCEL AVANZADO</li>
                                        <li> ARQUITECTURA DE NEGOCIO</li>
                                        <li> ARQ DE APLICACIONES WEB</li>
                                        <li> DISEÑO DE EXPERIM. EN SI</li>
                                        <li> ESTADÍSTICA APLICADA I</li>
                                        <li> TALLER DISEÑO GRAFICO 2DA</li>
                                        <li> DISEÑO DE BASE DE DATOS</li>
                                        <li> ARQ. COMP. Y SIST. OPERA.</li>
                                        <li> IHC Y TECNOLOGIAS MOVILES</li>
                                        <li> CONTABILIDAD Y PRESUPUEST</li>
                                        <li> FUND SIST DE INFORMACIÓN</li>
                                        <li> ESPECIF Y ANÁLISIS DE REQ</li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="habilidades">
    <div class="container">
        <br>
        <br>
        <br>
        <h1 class="text-center fs-3 fw-bolder title">MIS <span class="text-danger">HABILIDADES</span></h1>
        <div class="row title">
            <div class="col-md-4 p-3">
                <div class="shadow p-4 bg-white text-center habilidad">
                    <h4 class="title">APLICACIONES DE ESCRITORIO</h4>
                    <img src="../../../assets/escritorio.png" alt="escritorio" class="img-fluid img-habilidad">
                </div>
            </div>
            <div class="col-md-4 p-3">
                <div class="shadow p-4 bg-white text-center habilidad">
                    <h4 class="title">DESARROLLO DE APLICACIONES WEB</h4>
                    <img src="../../../assets/web.jpg" alt="escritorio" class="img-fluid img-habilidad">
                </div>
            </div>
            <div class="col-md-4 p-3">
                <div class="shadow p-4 bg-white text-center habilidad">
                    <h4 class="title">DISEÑO DE BASE DE DATOS</h4>
                    <img src="../../../assets/base.png" alt="escritorio" class="img-fluid img-habilidad">
                </div>
            </div>
            <div class="col-md-4 p-3">
                <div class="shadow p-4 bg-white text-center habilidad">
                    <h4 class="title">REDES Y COMUNICACIONES DE DATOS</h4>
                    <img src="../../../assets/redes.jpg" alt="escritorio" class="img-fluid img-habilidad">
                </div>
            </div>
            <div class="col-md-4 p-3">
                <div class="shadow p-4 bg-white text-center habilidad">
                    <h4 class="title">AUTOMATIZACIÓN DE PROCESOS</h4>
                    <img src="../../../assets/procesos.jpg" alt="escritorio" class="img-fluid img-habilidad">
                </div>
            </div>
            <div class="col-md-4 p-3">
                <div class="shadow p-4 bg-white text-center habilidad">
                    <h4 class="title">DISEÑO UI/UX</h4>
                    <img src="../../../assets/diseño.jpg" alt="escritorio" class="img-fluid img-habilidad">
                </div>
            </div>
        </div>
    </div>
</div>
<div id="tecnologias" class="alt-100">
    <div class="container">
        <br>
        <br>
        <br>
        <h1 class="text-center fw-bolder text-danger title">TECNOLOGÍAS</h1>
        <br>
        <div class="row title">
            <div class="col-md-6 title">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-4 p-2">
                            <div class="shadow p-2 text-center bg-white tecnologia">
                                <h5 class="">JavaScript</h5>
                                <i class="fa-brands fa-js fs-1"></i>
                            </div>
                        </div>
                        <div class="col-4 p-2">
                            <div class="shadow p-2 text-center tecnologia">
                                <h5 class="">Html</h5>
                                <i class="fa-brands fa-html5 fs-1"></i>
                            </div>
                        </div>
                        <div class="col-4 p-2">
                            <div class="shadow p-2 text-center tecnologia">
                                <h5 class="">Css</h5>
                                <i class="fa-brands fa-css3-alt fs-1"></i>
                            </div>
                        </div>
                        <div class="col-4 p-2">
                            <div class="shadow p-2 text-center tecnologia">
                                <h5 class="">Angular</h5>
                                <i class="fa-brands fa-angular fs-1"></i>
                            </div>
                        </div>
                        <div class="col-4 p-2">
                            <div class="shadow p-2 text-center tecnologia">
                                <h5 class="">Java</h5>
                                <i class="fa-brands fa-java fs-1"></i>
                            </div>
                        </div>
                        <div class="col-4 p-2">
                            <div class="shadow p-2 text-center tecnologia">
                                <h5 class="">C++</h5>
                                <img src="../../../assets/c-.png" alt="c++" class="icono">
                            </div>
                        </div>
                        <div class="col-4 p-2">
                            <div class="shadow p-2 text-center tecnologia">
                                <h5 class="">C#</h5>
                                <img src="../../../assets/c-sharp.png" alt="typescript" class="icono">
                            </div>
                        </div>
                        <div class="col-4 p-2">
                            <div class="shadow p-2 text-center tecnologia">
                                <h5 class="">TypeScript</h5>
                                <img src="../../../assets/typescript.png" alt="typescript" class="icono">
                            </div>
                        </div>
                        <div class="col-4 p-2">
                            <div class="shadow p-2 text-center bg-white tecnologia">
                                <h5 class="">Spring boot</h5>
                                <img src="../../../assets/spring-750.png" alt="sql" class="icono">
                            </div>
                        </div>
                        <div class="col-4 p-2">
                            <div class="shadow p-2 text-center tecnologia">
                                <h5 class="">Sql Server</h5>
                                <img src="../../../assets/sql-server.png" alt="sql" class="icono">
                            </div>
                        </div>
                        <div class="col-4 p-2">
                            <div class="shadow p-2 text-center tecnologia">
                                <h5 class="">MySql</h5>
                                <img src="../../../assets/mysql.png" alt="sql" class="icono">
                            </div>
                        </div>
                        <div class="col-4 p-2">
                            <div class="shadow p-2 text-center tecnologia">
                                <h5 class="">PostgreSQL</h5>
                                <img src="../../../assets/postgre.png" alt="sql" class="icono">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-4 p-2">
                            <div class="shadow p-2 text-center tecnologia">
                                <h5 class="">Bootstrap</h5>
                                <img src="../../../assets/bootstrap.png" alt="sql" class="icono">
                            </div>
                        </div>
                        <div class="col-4 p-2">
                            <div class="shadow p-2 text-center tecnologia">
                                <h5 class="">Figma</h5>
                                <img src="../../../assets/figma.png" alt="sql" class="icono">
                            </div>
                        </div>
                        <div class="col-4 p-2">
                            <div class="shadow p-2 text-center tecnologia">
                                <h5 class="">Photoshop</h5>
                                <img src="../../../assets/photoshop.png" alt="sql" class="icono">
                            </div>
                        </div>
                        <div class="col-4 p-2">
                            <div class="shadow p-2 text-center tecnologia">
                                <h5 class="">Premier</h5>
                                <img src="../../../assets/premiere-pro.png" alt="sql" class="icono">
                            </div>
                        </div>
                        <div class="col-4 p-2">
                            <div class="shadow p-2 text-center tecnologia">
                                <h5 class="">Illustrator</h5>
                                <img src="../../../assets/illustrator.png" alt="sql" class="icono">
                            </div>
                        </div>
                        <div class="col-4 p-2">
                            <div class="shadow p-2 text-center tecnologia">
                                <h5 class="">Unity</h5>
                                <i class="fa-brands fa-unity fs-1"></i>
                            </div>
                        </div>
                        <div class="col-4 p-2">
                            <div class="shadow p-2 text-center tecnologia">
                                <h5 class="">Git y Github</h5>
                                <img src="../../../assets/github.png" alt="sql" class="icono">
                            </div>
                        </div>
                        <div class="col-4 p-2">
                            <div class="shadow p-2 text-center tecnologia">
                                <h5 class="">Packet Tracer</h5>
                                <img src="../../../assets/cisco.png" alt="cisco" class="icono">
                            </div>
                        </div>
                        <div class="col-4 p-2">
                            <div class="shadow p-2 text-center bg-white tecnologia">
                                <h5 class="">Bizagi Modeler</h5>
                                <img src="../../../assets/bizagi.png" alt="power" class="icono">
                            </div>
                        </div>
                        <div class="col-4 p-2">
                            <div class="shadow p-2 text-center bg-white tecnologia">
                                <h5 class="">Power Point</h5>
                                <img src="../../../assets/powerpoint.png" alt="power" class="icono">
                            </div>
                        </div>
                        <div class="col-4 p-2">
                            <div class="shadow p-2 text-center bg-white tecnologia">
                                <h5 class="">Word</h5>
                                <img src="../../../assets/word.png" class="icono">
                            </div>
                        </div>
                        <div class="col-4 p-2">
                            <div class="shadow p-2 text-center bg-white tecnologia">
                                <h5 class="">Exel</h5>
                                <img src="../../../assets/excel.png" alt="exel" class="icono">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="proyectos">
    <div class="container">
        <br>
        <br>
        <h1 class="text-center title fw-bold">MIS <span class="text-danger">PROYECTOS</span></h1>
        <div class="row py-3">
            <h1 class="title web">PROYECTOS WEB</h1>
            <hr>
            <div class="col-md-3 mt-3" *ngFor="let item of proyectos">
                <div class="text-center p-3 bg-white shadow project">
                    <h3 class="title mb-3">{{item.nombre}}</h3>
                    <img src="{{item.img}}" alt="img" class="img-proyectos">
                    <div class="px-1 mt-4">
                        <a mat-raised-button class="w-100 title bg-negro text-white"  href="{{item.pagina}}"
                            target="_blank">Ver</a>
                        <a mat-raised-button class="w-100 mt-2 title" href="{{item.codigo}}" target="_blank">
                            Código fuente
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="espacio">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
</div>
<div class="footer bg-dark text-white py-5 title">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h2>Sobre mi</h2>
                <hr>
                <p>Soy un estudiante de Ingeniería de Sistemas de Información con una pasión por resolver problemas
                    utilizando tecnología. Me encanta aprender cosas nuevas y trabajar en equipo, y me gusta contribuir
                    con ideas y crear un ambiente de colaboración. Tengo un amplio conocimiento en programación,
                    incluyendo el desarrollo de aplicaciones de escritorio con C# y SQL Server, así como aplicaciones
                    web con Angular, Java (Spring Boot) y MySQL</p>
            </div>

            <div class="col-md-3">
                <h2>Redes sociales</h2>
                <hr>
                <a href="https://www.facebook.com/carlos.ordazhoyos" target="_blank" class="codigo"><i
                        class="fa-brands fa-facebook me-2"></i>Facebook</a><br>
                <a href="#" class="codigo"><i class="fa-brands fa-instagram me-2"></i>Instagram</a><br>
                <a href="#" class="codigo"><i class="fa-brands fa-youtube me-2"></i>Youtube</a><br>
                <a href="#" class="codigo"><i class="fa-brands fa-twitter me-2"></i>Twiter</a><br>
                <a href="https://github.com/1234566778899" target="_blank" class="codigo"><i
                        class="fa-brands fa-github me-2"></i>Github</a><br>
            </div>
            <div class="col-md-3">
                <h2>Contacto</h2>
                <hr>
                <p><i class="fa-sharp fa-solid fa-envelope me-2"></i>ordazhoyos2001@gmail.com</p>
                <p><i class="fa-sharp fa-solid fa-envelope me-2"></i>u202021b873@upc.edu.pe</p>
                <p><i class="fa-solid fa-phone me-2"></i>+51 932597220</p>
            </div>
            <div class="col-md-3">
                <h2>Accesos rápidos</h2>
                <hr>
                <a href="#home" class="codigo mt-2"><i class="fa-sharp fa-solid fa-check me-2"></i><u>Inicio</u></a><br>
                <a href="#estudios" class="codigo mt-2"><i
                        class="fa-sharp fa-solid fa-check me-2"></i><u>Estudios</u></a><br>
                <a href="#habilidades" class="codigo mt-2"><i
                        class="fa-sharp fa-solid fa-check me-2"></i><u>Habilidades</u></a><br>
                <a href="#tecnologias" class="codigo mt-2"><i
                        class="fa-sharp fa-solid fa-check me-2"></i><u>Tecnologías</u></a><br>
                <a href="#proyectos" class="codigo mt-2"><i
                        class="fa-sharp fa-solid fa-check me-2"></i><u>Proyectos</u></a><br>
            </div>
        </div>
    </div>
    <p class="text-center mt-3">Carlos Jesús Ordaz Hoyos 28/12/2022</p>
</div>